
body{
	background-image: url(../img/background2.jpeg);
}
#JLU{
	width: 1230px;
	height: 800px;
	position: absolute;
	left: 2%;
	top: 50%;
	margin-top: -400px;
	border-radius: 30px;
}
.message{
	position: absolute;
	color: #6c7dac;
}
.box{
	text-align: center;
	background-color: rgba(255,255,255,0.4);
	margin: 0 auto;
	width: 360px;
	height: 627px;
	/*border: solid 2px #6592CF; */
	padding: 50px 50px 10px 50px;
	border-radius: 20px;
	position: absolute;
	left: 81%;
	top: 48%;
	margin: -320px 0 0 -200px;
}
.box input,select{
	width: 80%;
	height: 55px;
	vertical-align: middle;
	text-align: left;
	box-sizing: border-box;
	font-size: 20px;
	border-radius: 24px;
	margin-bottom: 13px;
	border: 1px solid #E3E8F0;
}
.box select{
	padding-left: 15px;
	background-color:white;
	color:#767676;
}
.box input{
	padding-left: 20px;
}
.box button{
	margin-top: 10px;
	background-image: linear-gradient(to right,#e6ffea,#d2f5ff);
	border-radius: 24px;
	text-align: center;
	font-size: 24px;
	width:200px;
	height:60px;
	font-family: console;
}
#t1,#t2{
	float: left;
	display: inline-block;
	width: 50%;
	text-align: center;
	font-size: 25px;
	color: #5f9a9a;
	border-bottom: 4px solid #FFFFFF;
	padding-bottom: 12px;
}
#t1:hover{
	color:#1244ce;
}
#t2:hover{
	color:#1244ce;
}

#form{
	margin-top: 100px;
	line-height: 60px;
}
#return,#t1,#t2:hover{
	cursor: pointer;
}
#return{
	float:left;
	display: inline;
	font-size: 18px;
	text-align: left;
	text-decoration: underline;
}
.submit:hover{
	background-image: linear-gradient(to right,#ffffff,#ffffff);
	cursor: pointer;
}
ion-icon{
	font-size: 25px;
}